main {
    padding: $distance*1.5 0 $distance*2;
}

.l-wrapper {
    position: relative;
    max-width: $max-page-width;
    margin: 0 auto;
    padding: 0 $gutter;
    
    @media #{$xlarge-up} {
        padding: 0;
    }
    
    .show-basket & {
        @media #{$xlarge-up} {
            margin-right: $gutter;
        }
    }
}